In [1]:
#1Write a NumPy program to multiply two given arrays of same size element-by-element.
import numpy as np

# Create two arrays
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([6, 7, 8, 9, 10])

# Multiply element-by-element
result = np.multiply(arr1, arr2)

# Print the result
print(result)

[ 6 14 24 36 50]

In [2]:
#2Write a NumPy program to find the missing data in a given array.
import numpy as np
l;
# Create a sample array with missing values
arr = np.array([[1, 2, np.nan], [4, 5, 6], [np.nan, 7, np.nan]])

# Find missing values using np.isnan()
missing_values = np.isnan(arr)

# Print the boolean array indicating missing values
print("Missing values mask:\n", missing_values)

# Get the indices of missing values
missing_indices = np.where(missing_values)
print("Indices of missing values:\n", missing_indices)

# Get the actual missing values
actual_missing_values = arr[missing_indices]
print("Actual missing values:\n", actual_missing_values)

Missing values mask:
 [[False False  True]
 [False False False]
 [ True False  True]]
Indices of missing values:
 (array([0, 2, 2], dtype=int64), array([2, 0, 2], dtype=int64))
Actual missing values:
 [nan nan nan]

In [3]:
#3Write a NumPy program to test whether each element of a 1-D array is also present in a second array.
import numpy as np

# Define the arrays
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([2, 4, 6, 8, 10])

# Check if each element in arr1 is present in arr2 using np.isin()
is_present = np.isin(arr1, arr2)

# Print the result as a boolean array
print("Elements in arr1 present in arr2:", is_present)

Elements in arr1 present in arr2: [False  True False  True False]

In [4]:
#4Write a NumPy program to save a NumPy array to a text file.
import numpy as np

# Define the array
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Save the array to a text file with space-separated values
np.savetxt("array.txt", arr, delimiter=" ")

# Save the array to a text file with comma-separated values
np.savetxt("array_comma.txt", arr, delimiter=",")

print("Arrays saved successfully!")

Arrays saved successfully!

In [5]:
#5Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive.
import numpy as np

# Define the starting and ending points
start = 2.5
end = 6.5

# Calculate the number of elements and spacing
num_elements = 30
spacing = (end - start) / (num_elements - 1)

# Create the array using linspace
arr = np.linspace(start, end, num_elements)

# Print the array
print(arr)

[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

In [6]:
#1Write a Pandas program to convert Series of lists to one Series.
import pandas as pd

# Create a Series of lists
s = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])

# Convert to a single Series
single_series = s.apply(pd.Series).stack().reset_index(drop=True)

# Print the resulting Series
print(single_series)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [7]:
#2Write a Pandas program to create a subset of a given series based on value and condition.
import pandas as pd

# Create a sample Series
s = pd.Series([10, 25, 15, 30, 45, 20])

# Create a subset based on value (greater than 20)
subset1 = s[s > 20]

# Create a subset based on condition (even numbers)
subset2 = s[s % 2 == 0]

# Print the subsets
print("Values greater than 20:", subset1)
print("Even numbers:", subset2)

Values greater than 20: 1    25
3    30
4    45
dtype: int64
Even numbers: 0    10
3    30
5    20
dtype: int64

In [8]:
#3Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
import pandas as pd

# Create a sample Series
s = pd.Series(['Apple', 'Banana', 'Apple', 'Orange', 'Apple', 'Mango', 'Banana'])

# Find the most frequent value
most_frequent = s.value_counts().index[0]

# Replace non-frequent values with 'Other'
s[~s.isin(s.value_counts().index[:1])] = 'Other'

# Print the modified Series
print("Most frequent value:", most_frequent)
print("Modified Series:", s)

Most frequent value: Apple
Modified Series: 0    Apple
1    Other
2    Apple
3    Other
4    Apple
5    Other
6    Other
dtype: object

In [9]:
#4Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
import pandas as pd

# Create a sample Series
s = pd.Series([10, 25, 15, 30, 45, 20])

# Find positions of multiples of 5
positions = s.index[s % 5 == 0]

# Print the positions
print("Positions of multiples of 5:", positions)

Positions of multiples of 5: Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [10]:
#5Write a Pandas program to calculate the number of characters in each word in a given series.
import pandas as pd

# Create a sample Series with words
s = pd.Series(['Hello', 'World', 'This', 'is', 'a', 'Pandas', 'Series'])

# Calculate character count using str.len()
char_counts = s.str.len()

# Print the character counts
print("Character counts:", char_counts)

Character counts: 0    5
1    5
2    4
3    2
4    1
5    6
6    6
dtype: int64

In [11]:
#6Write a Pandas program to convert year-month string to dates adding a specified day of the month.
import pandas as pd

# Sample data
data = ["2023-01", "2024-02", "2025-03"]

# Create a Series
s = pd.Series(data)

# Define the day to add
day = 15

# Parse strings to datetime objects
dates = pd.to_datetime(s, format="%Y-%m")

# Add the specified day
dates += pd.to_timedelta(day, unit="D")

# Print the resulting dates
print("Dates with added day:", dates)

Dates with added day: 0   2023-01-16
1   2024-02-16
2   2025-03-16
dtype: datetime64[ns]

In [12]:
#7Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
import pandas as pd

# Sample dictionary with index labels
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "London", "Paris"],
}

# Create DataFrame with specified index labels
index_labels = ["Person 1", "Person 2", "Person 3"]
df = pd.DataFrame(data, index=index_labels)

# Display the DataFrame
print(df)

             Name  Age      City
Person 1    Alice   25  New York
Person 2      Bob   30    London
Person 3  Charlie   35     Paris

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
#9Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Values for the new row
new_row_values = {'A': 10, 'B': 11, 'C': 12}

# Append the new row
df = df.append(new_row_values, ignore_index=True)

# Display the DataFrame with the new row
print("DataFrame with new row:\n", df)

# Delete the new row and return the original DataFrame
df = df.iloc[:-1]  # Keep all rows except the last one

# Display the original DataFrame
print("\nOriginal DataFrame:\n", df)

DataFrame with new row:
     A   B   C
0   1   4   7
1   2   5   8
2   3   6   9
3  10  11  12

Original DataFrame:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [3]:
#8 Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
import pandas as pd

# Sample DataFrame
data = {'Student': ['Alice', 'Bob', 'Charlie', 'David'],
        'Attempts': [1, 3, 2, 4]}

df = pd.DataFrame(data)

# Select rows where the number of attempts is greater than 2
selected_rows = df[df['Attempts'] > 2]

print("Original DataFrame:")
print(df)
print("\nRows where the number of attempts is greater than 2:")
print(selected_rows)

Original DataFrame:
   Student  Attempts
0    Alice         1
1      Bob         3
2  Charlie         2
3    David         4

Rows where the number of attempts is greater than 2:
  Student  Attempts
1     Bob         3
3   David         4

In [14]:
#10Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by &#39;score&#39; in ascending order.
import pandas as pd

# Sample DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'score': [90, 85, 75, 80, 95]}
df = pd.DataFrame(data)

# Sort by 'name' in descending order and then by 'score' in ascending order
df = df.sort_values(by=['name', 'score'], ascending=[False, True])

# Display the sorted DataFrame
print(df)

      name  score
4      Eve     95
3    David     80
2  Charlie     75
1      Bob     85
0    Alice     90

In [15]:
#11Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.
import pandas as pd

# Sample DataFrame with 'qualify' column
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'score': [90, 85, 75, 80, 95],
        'qualify': ['yes', 'no', 'yes', 'no', 'yes']}
df = pd.DataFrame(data)

# Replace 'yes' with True and 'no' with False in 'qualify'
df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})

# Display the modified DataFrame
print(df)

      name  score  qualify
0    Alice     90     True
1      Bob     85    False
2  Charlie     75     True
3    David     80    False
4      Eve     95     True

In [16]:
#12Write a Pandas program to remove infinite values from a given DataFrame.
import pandas as pd
import numpy as np

# Sample DataFrame with infinite values
data = {'col1': [1, np.inf, 3, np.nan, -np.inf],
        'col2': [4, 5, np.inf, 7, 8]}
df = pd.DataFrame(data)

# Replace infinite values with NaN
df = df.replace([np.inf, -np.inf], np.nan)

# Drop rows with NaN values
df = df.dropna()

# Display the DataFrame without infinite values
print(df)

   col1  col2
0   1.0   4.0